html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

:root {
  --primary-color: #4ecca3;
  --primary-color-dark: #219770;
  --background-color: #232931;
  --background-color-2: #393e46;
  --primary-text-color: #eeeeee;
}

.primary-color {
  color: var(--primary-color);
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: var(--primary-text-color);
  background: #000000;
  background: -webkit-linear-gradient(to bottom, #232931, #000000);
  background: linear-gradient(to bottom, #232931, #000000);
}

/* Navbar */

.navbar{
  background-color: #000 !important;
  opacity: 0.8;
  z-index:10;
}
.navbar-brand img {
  height: 100%;
  width: 9rem;
}

.navbar-brand-footer img {
  width:12rem;
}
.nav-item {
  padding-left: 5rem;
}
.nav-link {
  font-size: 1.6rem;
  color: var(--primary-text-color);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
  transition: .3s;
}
.nav-link:hover {
  color: var(--primary-color);
}

/* custom hamburger color */
.custom-toggler.navbar-toggler {
  border-color: var(--primary-color);
  outline: none !important; 
}
.custom-toggler .navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(78, 204, 163)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Navbar on scroll */

.onscroll {
  background-color: #000 !important;
  opacity: 0.9;
}

.onscroll .nav-link {
  color: var(--primary-text-color);
  font-size: 1.3rem;
  transition: .3s;
}

.onscroll .nav-link:hover {
  color: var(--primary-color);
}

.onscroll .navbar-brand img {
  height: 100%;
  width: 6rem;
  transition: .3s;
}
.icon-box i{
  color: var(--primary-color);
  font-size: 5rem;
}
.icon-box{
  margin-bottom:1.5rem;
  transition: .3s;
  backface-visibility: hidden;
  cursor: pointer;
}
.icon-box:hover{
  transform: translateY(.5rem) scale(1.1);
}
.icon-text{
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top:1.5rem;
  letter-spacing: .3rem;
}
.icon-box a{
  text-decoration: none;
}

/* end of onscroll navbar */
.button-primary {
  border-radius: 0;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-size: 1.8rem;
  font-weight: 700;
  padding: .8rem 1.5rem;
  background: var(--primary-color);
  color: var(--background-color);
  border: 1px solid var(--primary-color);
  outline: none;
  transition: .2s;
}

.button-primary:hover {
   background:transparent;
   color: var(--primary-color);
   border: 1px solid var(--primary-color);
   text-decoration: none;
}

.button-primary-small {
  border-radius: 0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  background: var(--primary-color);
  color: var(--background-color);
  border: 1px solid var(--primary-color);
  outline: none;
  transition: .2s;
}

.button-primary-small:hover {
   background:transparent;
   color: var(--primary-color);
   border: 1px solid var(--primary-color);
   text-decoration: none;
}

.button-outline-primary {
  border-radius: 0;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  background: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  outline: none;
  transition: .2s;
}

.button-outline-primary:hover {
   background: var(--primary-color);
   color: var(--background-color);
   border: 1px solid var(--primary-color);
   text-decoration: none;
}
/* End of Navbar */

/* Carousel - Cover*/

.carousel {
  position: relative;
}
.carousel .owl-theme .custom-nav {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  outline: none;
}
.carousel .owl-theme .custom-nav .owl-prev,
.carousel .owl-theme .custom-nav .owl-next {
  position: absolute;
  height: 100px;
  color: inherit;
  background: none;
  border: none;
  z-index: 9;
  outline: none;
}
.carousel .owl-theme .custom-nav .owl-prev i,
.carousel .owl-theme .custom-nav .owl-next i {
  font-size: 4rem;
  color: var(--primary-text-color);
}
.carousel .owl-theme .custom-nav .owl-prev {
  left: 5rem;
}
.carousel .owl-theme .custom-nav .owl-next {
  right: 5rem;
}

.image-box {
  position: relative;
  overflow: hidden;
}

.image-box img {
  cursor: pointer;
  filter: brightness(75%);
}

.caption-text {
  position: absolute;
  top: 45%;
  left: 0rem;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.6);
}
.caption-primary {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  display: block;
}

.caption-secondary {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  display: block;
  color: var(--primary-color);
}

.caption-tertiary {
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  display: block;
  text-transform: uppercase;
  color: var(--primary-color);
}


.caption-link {
  font-size: 1.5rem;
  color: var(--primary-text-color);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.caption-link:hover {
  color: var(--primary-color);
  text-decoration: none;
}

/* End of Carousel - Cover */

/* ------------ Main ----------*/

/* Section - theatre */

.bar {
  border-top: 0.5rem solid var(--primary-color);
  width: 8rem;
  margin-bottom: 1rem;
}

.heading-primary {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: var(--primary-color);
  display: block;
}

.heading-secondary {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  display: block;
  margin-top: 1rem;
}

.heading-tertiary {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  display: block;
  margin-top: 1rem;
}

.carousel-theatre {
  position: relative;
}
.carousel-theatre .owl-theme .custom-nav {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  outline: none;
}
.carousel-theatre .owl-theme .custom-nav .owl-prev,
.carousel-theatre .owl-theme .custom-nav .owl-next {
  position: absolute;
  height: 100px;
  color: inherit;
  background: none;
  border: none;
  z-index: 100;
  outline: none;
}
.carousel-theatre .owl-theme .custom-nav .owl-prev i,
.carousel-theatre .owl-theme .custom-nav .owl-next i {
  font-size: 4rem;
  color: var(--primary-text-color);
}
.carousel-theatre .owl-theme .custom-nav .owl-prev {
  left: 5rem;
}
.carousel-theatre .owl-theme .custom-nav .owl-next {
  right: 5rem;
}

/* Articles */

.card {
  background: transparent;
  border: none;
}

.card img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-title {
  font-size: 2rem;
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 700;
}


.card-text {
  font-size: 1.2rem;
}

.card-link {
  font-size: 1.2rem;
  color: var(--primary-color);
}
.card-link:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.place {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 700;
  display: block;
}

.date {
  margin-top:.5rem;
}

.social-link {
  font-size: 3.5rem;
  color: var(--primary-text-color);
  padding: 6rem;
}

.social-link:hover {
  color: var(--primary-color);
}

/* Articles Page */


.articles .card {
  background: transparent;
  border-radius: none;
}

.articles .card img {
  border-radius: 0 !important;
}

.articles .card-title {
  font-size: 2rem;
}

.articles .card-title a {
  color: var(--primary-color);
  text-decoration: none;
}

.articles .card-text {
  font-size: 1.5rem;
}

.articles .card-link {
  font-size: 1.5rem;
  display: block;
}
.articles .date {
  font-size: 1.2rem;
  display: block;
}

.para p {
  font-size: 1.6rem;
}

.back-link {
  font-size: 1.6rem;
  color: var(--primary-color);
}

.back-link:hover {
  text-decoration: none;
  color: var(--primary-color);
}

.view-link {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: var(--primary-color);
}

.view-link:hover {
  color: var(--primary-color);
}

/* Pagination */

.page-link {
  color: var(--primary-color);
  outline: none;
}

.page-item.active .page-link {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.page-link:hover {
  color: var(--background-color);
}

/* Article */

.article-cover img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.caption {
  transform: translateY(10rem);
}

.about-heading-primary {
  font-size: 6rem;
  letter-spacing: 0.2rem;
  font-weight: 900;
  color: var(--background-color);
  display: block;
  text-transform: uppercase;
}

.about-heading-secondary {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
  display: block;
  text-transform: uppercase;
  color: var(--primary-text-color);
  text-align: left;
}

#about-header {
  background-color: #4ecca3;
  clip-path: ellipse(100% 55% at 48% 44%);
  height: 65vh;
}

.card-position{
  letter-spacing: .2rem;
}
.section-team .social-link {
  font-size: 2rem;
  color: var(--primary-text-color);
  padding: 0;
}

.section-team .social-link:hover {
  color: var(--primary-color);
}



/* Section-projects */

.explore-nav {
  display: flex;
}

.explore-nav li {
  list-style: none;
  width: 100%;
}

.explore-nav .nav-link {
  font-size: 1.4rem;
  color: var(--primary-text-color);
}

.explore-nav .nav-link:hover {
  color: var(--primary-color);
}

.section-explore .card-title{
  font-size:1.6rem;
}

.section-explore a:hover{
  text-decoration: none;
}
.section-explore .card-text{
  text-transform: uppercase;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link{

  color:var(--primary-text-color);
  background: var(--primary-color);
}

/* Project_details */

.section-project_details .card{
  border : 2px solid var(--primary-color);
  border-radius: 0 !important;
}

.section-project_details .card img{
  border-radius: 0 !important;
}

.cast{
  letter-spacing: .2rem;
  font-size:1.4rem;
}

.section-project_details p{
  font-size:1.4rem
}

.trailer-link {
  font-size: 2rem;
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.trailer-link:hover {
  color: var(--primary-color);
  text-decoration: none;
}

.card-box * {
	box-sizing: border-box;
}
.card-box {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.card-box img {
	max-width: 100%;
}
.card-box .card-box-layer_bottom {
	display: block;
}
.card-box .card-box-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	/* padding: 15px; */
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.card-box:hover .card-box-layer_top,
.card-box.active .card-box-layer_top {
	opacity: 1;
}

.card-box .card-box-text {
	text-align: center;
	font-size: 2rem;
  display: inline-block;
  color: var(--primary-color);
  text-transform: uppercase;
  position: absolute;
  letter-spacing: .2rem;
  font-weight: 900;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.card-box .card-box-text_mobile {
	font-size: 1.4rem;
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
  margin-top: 5px;
  font-weight: 900;
	padding-top: 2px;
	display: none;
}
.card-box.active .card-box-text_mobile {
	display: block;
}

/* Talent */

.talent-heading{
  transform: translateY(10rem);
}
.talent-heading-primary {
  font-size: 5.5rem;
  letter-spacing: 0.3rem;
  font-weight: 900;
  color: var(--background-color);
  display: block;
  text-transform: uppercase;
}

.talent-heading-secondary {
  font-size: 4rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  display: block;
  text-transform: uppercase;
}

#talent-header {
  background-color: #4ecca3;
  clip-path: ellipse(100% 55% at 48% 44%);
  height: 55vh;
}

.talent-list-item{
  font-size: 1.6rem;
  margin-top: 2rem;
  list-style: none;
}
.talent-list-item::before{
  content: "\f00c";
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
  color: var(--primary-color);
}

/* Contact Page */

/* .contact-info{
  margin-top:10rem;
} */

.contact-info li{
  list-style: none !important;
}

.contact-info-list{
  color: var(--primary-text-color);
  font-size: 2.5rem;
  letter-spacing: .2rem;
  padding-top:5rem;
}

.contact-info-list a{
   color: var(--primary-text-color);
}
.contact-info-list a:hover{
  color: var(--primary-color);
  text-decoration: none;
}

/* Overlay when loading */

/* Spinner */

.spinner {
  width: 80px;
  height: 80px;

  border: 4px solid #f3f3f3;
  border-top: 5px solid var(--primary-color);

  border-radius: 100%;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
}
/* Interaction */


/* promos */

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.promo-title{
  font-size: 1.8rem;
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 700;
  display: block;
}


.promo-subtitle {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  display: block;
}

/* ------------ End Of Main ----------*/

/* alerts */

.alert-success{
  background-color: var(--primary-color) !important;
  border-color:var(--primary-color);
  color: var(--background-color);
  font-size: 1.4rem;
}

/* Footer */

footer {
  padding-top: 5rem;
  width: 100%;
}

/* .footer{
  border-top:1px solid #9B9B9B;
} */

.footer-logo {
  font-size: 1.4rem;
  color: var(--primary-text-color);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

/* .footer-logo:hover {
  text-decoration: none;
  color: var(--primary-color) !important;
} */

.footer-text {
  font-size: 1.2rem;
}

.footer-heading {
  font-size: 1.6rem;
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: .2rem;
}
.footer-link {
  font-size: 1.2rem;
  display: block;
  color: #9b9b9b;
  text-transform: uppercase;
  letter-spacing: .2rem;
}
.footer-link:hover {
  color: var(--primary-color);
  text-decoration: none;
}

footer .trademark {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: #9b9b9b;
}

/* Media Query */
@media only screen and (max-width: 56.25em) {
  .custom-nav{
    display: none;
  }
  .social-link {
    padding: 2rem;
  }
  .about-heading-primary {
    font-size: 5rem;
  }
}
