{% extends 'layout.html' %}
{% block content %}
{% load static from staticfiles %}
{% load humanize %}
{% load embed_video_tags %}
{% include 'partials/_navbar.html' %}
{% include 'partials/_lightbox.html' %}
<section class="section-project_details" id="movie">
    <div class="container-fluid">
        <div class="row ml-4 mt-5">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card">
                    <img src="{{ movie.photo_card.url }}" class="img-fluid">
                </div>
            </div>
            <div class="col-md-7">
                <h2 class="heading-primary">{{ movie.title }}</h2>
                <span class="place text-muted">movie/{{movie.movie_type}}</span>
                <h5 class="cast mt-3"><span class="primary-color">Cast : </span>{{ movie.cast_1 }}
                    {{ movie.cast_2 }} {{ movie.cast_3 }}</h5>
                <h5 class="cast mt-3"><span class="primary-color">Director : </span>{{ movie.director }}</h5>
                <h5 class="cast mt-3"><span class="primary-color">Released Date : </span>{{ movie.year }}</h5>
                <p class="para">{{ movie.description | safe }}</p>
                <!-- <a class="trailer-link" href="#myVideo" id="playButton"><i class="fas fa-play"></i> Play Trailer</a> -->
                <!-- <a class="trailer-link ml-5"  href="#"><i class="fab fa-youtube"></i> Watch on Youtube</a> -->
            </div>
        </div>
        <div class="gallery ml-5" style="margin-top: 8rem;">
            {% if movie.gallery_1 %}
            <h2 class="heading">
                <div class="bar"></div>
                <span class="heading-secondary primary-color">Gallery </span>
            </h2>
            <div class="owl-carousel owl-theme mt-5">
                <div class="item">
                    <a class="example-image-link" href="{{ movie.gallery_1.url }}" data-lightbox="example-set"
                        data-title="{{ movie.title }}">
                        <img src="{{ movie.gallery_1.url }}" alt="" />
                    </a>
                </div>
                <div class="item">
                    <a class="example-image-link" href="{{ movie.gallery_2.url }}" data-lightbox="example-set"
                        data-title="{{ movie.title }}">
                        <img src="{{ movie.gallery_2.url }}" alt="" />
                    </a>
                </div>
                <div class="item">
                    <a class="example-image-link" href="{{ movie.gallery_3.url }}" data-lightbox="example-set"
                        data-title="{{ movie.title }}">
                        <img src="{{ movie.gallery_3.url }}" alt="" />
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
        {% if movie.trailer %}
        <div class="trailer ml-5" style="margin-top: 8rem;">
            <h2 class="heading mb-5">
                <div class="bar"></div>
                <span class="heading-secondary primary-color"> Promo </span>
            </h2>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="videoWrapper">
                    <div id="myVideo">
                        {% video movie.trailer 'medium' %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    </div>
</section>
<link rel="stylesheet" href="{% static 'app/css/owl.carousel.min.css'%}">
<script src="{% static 'app/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'app/js/gallery.js' %}"></script>
{% include 'partials/_footer.html' %}
{% endblock %}