{% extends 'layout.html' %}
{% block content %}
{% load static from staticfiles %}
{% load humanize %}
{% include 'partials/_navbar.html' %}
<section class="section-about">
    <header id="about-header" class="about-header">
        <div class="container">
            <div class="caption">
                <h1 class="about-heading">
                    <span class="about-heading-primary">Frogy Media Productions</span>
                    <span class="about-heading-secondary mt-2">
                        <p>
                            We are one of the top media production companies in Kuwait with more than 15 years of
                            experience.<br>
                        </p>
                        <p>
                            WE'RE A CLOSE TEAM OF PRODUCERS, DESIGNERS & DEVELOPERS WHO WORK TOGETHER TO CREATE
                            BEAUTIFUL, ENGAGING DIGITAL EXPERIENCES.<br>
                        </p>
                        <p>
                            “IT SEEMS TO US THAT THERE IS A FINE LINE BETWEEN INSANITY AND DEDICATION. WE CALL THAT LINE
                            COMMITMENT”.
                        </p>
                    </span>
                </h1>
            </div>
        </div>
    </header>
</section>
{% include 'partials/_connect.html' %}
{% include 'partials/_footer.html' %}
{% endblock %}