{% load static from staticfiles %}
<section class="section-connect">
    <div class="container">
        <h3 class="heading-secondary text-center" style="font-size: 3rem; letter-spacing: .5rem;">Connect with us</h3>
        <div class="social mt-5 text-center">
            <a class="social-link" href="https://www.facebook.com/Frogyco-TV-598220953882473/" add target="_blank"><i class="fab fa-facebook-f" add target="_blank"></i></a>
            <a class="social-link" href="https://www.instagram.com/frogy_media_production/" add target="_blank"><i class="fab fa-instagram"></i></a>
            <a class="social-link" href="https://twitter.com/frogyco" add target="_blank"><i class="fab fa-twitter"></i></a>
            <a class="social-link" href="https://www.youtube.com/channel/UCrVU5V2nSTTWKL083jOMRgg" add target="_blank"><i class="fab fa-youtube"></i></a>
        </div>
        <!-- <h3 class="heading-secondary text-center mt-5">Download FroggyCo App Now
        </h3>
        <div class="row justify-content-center mt-5">
            <div class="col-md-2">
                <img src="{% static 'app/img/logo/googlePlay.png'%}" class="img-fluid" style="height:4rem;">
            </div>
            <div class="col-md-2">
                <img src="{% static 'app/img/logo/appstore.png'%}" class="img-fluid" style="height:4rem;">
            </div>
        </div> -->
    </div>
</section>